  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <h3 class="header col s12 light white-text">怕雷老闆？</h3>
        <p class="white-text">違反勞基法、亂開需求、商業模式奇奇怪怪、脾氣奇怪...不要讓我遇到！</p>
      </div>
    </div>

    <div class="main_search">
      <div class="container">
        <%= form_tag(company_path(1), method: "get") do %>
          <br>
          <input id="keyword" class="typeahead" type="text" placeholder="公司名稱、老闆名字...etc...">
          <div class="center">
            <button class="waves-effect waves-light btn deep-orange">Go!</button>
          </div>
          <br>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="row center">
        <p style="margin-top:5em;"></p>
      </div>
    </div>


  </div>


  <div class="container">
    <div class="section">

      <!--   thanks Section   -->
      <div class="row">

        <div class="col s12">
          <div class="center">
            <h5 class="grey-text">Thanks</h5>
            <br>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img src="image/Gandi_logo_black.jpg" style="max-width:100%;">
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img src="image/dot_taipei.png" style="max-width:100%;">
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img src="image/heroku.jpg" style="max-width:100%;">
          </div>
        </div>

      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
    <script type="text/javascript">
    var countries = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      // url points to a json file that contains an array of country names, see
      // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
      prefetch: 'http://localhost:3000/company.json'
    });

    // passing in `null` for the `options` arguments will result in the default
    // options being used
    $('input.typeahead').typeahead(null, {
      name: 'countries',
      source: countries,
      hint: true,
      highlight: true,
      minLength: 1
    });
    
  </script>
